{% extends 'base.html' %}

{% block head %}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-geo.v2.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v3.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
{% endblock %}

{% block description%}
    <p> 
        On the right, it is a brief summary about the number of cases and 
        death. On the bottom it is plots showing how covid-19 may have been 
        impacting the air traffic, city congestion, and gas fill up.
    </p>
    <p style="text-align: left;">
        Data Source: Google Bigquery covid19_geotab_mobility_impact.
    </p>
{% endblock%}

{% block graph %}

    <div class="buttons">

        <h3 style="padding: 1.5em 0 0 0.5em;">Click Buttons to Switch Between Plots:</h3>

        <a href="air"  class="mob-button" id="air">
            Air Traffic
        </a>
        
        <a href="city" class="mob-button" id="city">
            City Congestion
        </a>

        <a href="fillup" class="mob-button" id="gas">
            Gas Fillup
        </a>
    </div>

    <div class="plot-title" style="padding-top: 2%;">
        <p id="main-title" style="text-align: center;font-size:1.2em"></p>
        <p id="sub-title" style="text-align: center;font-size: 1em;padding-top:0.5em"></p>
    </div>

    <div class="plots"></div>

    <script src="{{ url_for('static', filename='javascript/city_congest.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/air_geo.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/gas_fill.js') }}"></script>

{% endblock %}