{% extends 'base.html' %}

{% block description%}
    <p> 
        On the right, I put a brief summary about the number of cases and 
        death. On the bottom it is plots showing how covid-19 has been 
        impacting the traffic and border waiting time.
    </p>
{% endblock%}

{% block graph %}
    <div class="buttons">
        <a href="#" class="mob-button">Air Traffic</a>
        <a href="#" class="mob-button">City Congestion</a>
        <a href="#" class="mob-button">Border Waiting Time</a>
        <a href="#" class="mob-button">Gas Fillup</a>
    </div>

    <div class="plots">
        
    </div>

{% endblock %}