{% extends 'base.html' %}

{% block description%}
    <p> 
        On the right, it is a brief summary about the number of cases and 
        death. On the bottom it is plots showing how covid-19 may have been 
        impacting the traffic, gas fill up and border waiting time.
    </p>
{% endblock%}

{% block graph %}
    <div class="buttons">
        <a href="{{ url_for('mobility.air_traffic') }}" class="mob-button">Air Traffic</a>
        <a href="{{ url_for('mobility.city_congestion') }}" class="mob-button">City Congestion</a>
        <a href="#" class="mob-button">Border Waiting Time</a>
        <a href="#" class="mob-button">Gas Fillup</a>
    </div>

    <div class="plots">
        {% block plots %} {% endblock %}
    </div>

{% endblock %}