body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
}

header {
    background: linear-gradient(45deg, rgb(18, 18, 63) 0%, rgba(36,136,181,1) 80%, rgba(0,212,255,1) 100%);
    grid-column: 1 / 13;
    padding: 3% 0 0 0;
}

#title {
    color: white;
    padding: 2% 0% 2% 7%;
    font-family: 'Abril Fatface', cursive;
    font-size: 38px;
}

.nav-bar {
    padding-left: 8%;
    color: black;
    display: flex;
}

.nav-sub {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background: white;
    text-align: center;
    margin: 0 0 0 0.2%;
}

.nav-sub:hover {
    color: rgb(221, 202, 27);
}

.summary {
    grid-column: 1 / 13;
    background: rgba(241, 236, 202, 0.6);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: large;
}

.description {
    padding: 5% 5% 5% 0%;
    grid-column: 2 / 6;
    text-indent: 10%;
    text-align: justify;
    line-height: 1.8;
}

.table {
    padding: 5% 5% 5% 0%;
    grid-column: 8 / 12;
}

.covid-table {
    width: 75%;
    font-size: large;
}

.row-dt {
    padding-top: 3%;
}

@media (max-width: 85em) {
    .summary {
        font-size: small;
    }

    .covid-table {
        font-size: small;
    }

    .row-dt {
        padding-top: 5%;
    }
}

.graph {
    grid-column: 1 / 13;
}

