{% extends 'mobility/mobility.html' %}

{% block head %}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-geo.v2.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

        path {
          fill: #ccc;
          stroke: #fff;
          stroke-width: .5px;
        }

        .domain {
         fill: none;
         stroke-width: 0px;
        }    

        circle:hover {
          fill: red;
          opacity: 0.3;
        }

        .pic {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          padding-top: 1%;
        }

        .pic svg {
          grid-column: 2/3;
        }
    </style>
{% endblock %}

{% block plots %}
    <div class="plot-title" style="padding-top: 2%;">
        <p style="text-align: center;">Percentage of Air Traffic Compared With Baseline Before Covid-19</p>
        <p style="text-align: center;font-size: 0.8em">Hover Over the Airport to View the Percentage</p>
    </div>
    <div class="pic"></div>

    <script>
        
    </script>
{% endblock %}