<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <title>Not Much</title>
    {% block head %} {% endblock %}

</head>

<body>
    <header>
        <h1 id="title">Just Another Site about Covid-19</h1>
        <nav class="nav-bar">
            <h4 class="nav-sub">Traffic Impact</h6>
            <h4 class="nav-sub">US Facts</h6>
            <h4 class="nav-sub">Symptom Forcast</h6>
        </nav>
    </header>

    <section class="summary">
        <div class="description">
            <p id="mobility-desc">
                I built this site because I have been following the spreading 
                of Covid-19 in the US, and I was curious about how the 
                Covide-19 has been impacting our life. Also, I was a little 
                tired of going to the other people's sites to gather information. 
            </p>
            {% block description%}{% endblock %}
        </div>
    
        <div class="table">
            <p><strong>Overview - Cases and Number of Death</strong></p>
            <table class="covid-table">
                {% for key, value in stat.items() %}
                    {% if key != 'Unnamed: 0' %}
                        <tr>
                            <td class="row-name" style="text-align:left;">
                                {{ key.replace('_' ,' ').title() }}
                            </td>
                            {% if key != 'date' %}
                                <td class="row-dt">{{ value|num_format|e }}</td>
                            {% else %}
                                <td class="row-dt">{{ value }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>      
    </section>

    <section class="graph">
        {% block graph %}{% endblock %}
    </section>

</body>
</html>